@charset "UTF-8";


@media only screen and (max-width: 540px) {
    div.toDoList {
        width: 100%;
    }
}

html {
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}


body {
    font: 16px sans-serif;
    /* background-image: url(https://images.unsplash.com/photo-1549887534-1541e9326642?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1365&q=80); */
    background-size: 100%;
    background-image: linear-gradient(-30deg, #e6f0fc, #f9b890);
    background-repeat: space;
    -moz-background-image: linear-gradient(-30deg, #e6f0fc, #f9b890);
    -webkit-background-image: linear-gradient(-30deg, #e6f0fc, #f9b890);
}

/*-------------Button-----------*/

button {
    /* appearance: button; */
    background-color: transparent;
    margin: auto;
    box-sizing: border-box;
    background: #fa8072;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    font-weight: 700;
    line-height: 8px;
    border: 0 solid #e5e7eb;
    border-radius: .5rem;

    outline: 1.5px Solid transparent;
    padding: .5rem .5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    touch-action: manipulation;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);

}

#enter {
    margin: 0;
}

button:hover {
    background-color: #e4796d;
}

button:active {
    background: #a25249;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;

}

input {
    margin-bottom: 0.7rem;
    width: 240px;
    height: 30px;
}


ul {
    display: block;
    flex-wrap: wrap;
    margin: 16px;
}

li {
    list-style: square;
    word-break: break-word;
    width: 310px;
}


/*-----------------Classes--------------------*/

button.del {
    display: block;
    color: black;
    margin-right: 0;
    float: right;
}


.wrapper {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    background-image: -webkit-linear-gradient(180deg, #f9ece2, #f9b890);
}

.done {
    text-decoration: line-through;
}

div.userInput {
    align-items: center;
}

.userInput {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.toDoList {
    -moz-box-shadow: 0 4px 26px #aaa;
    -webkit-box-shadow: 0 4px 26px #aaa;
    box-shadow: 0 4px 16px #aaa;
    width: 450px;
    margin: 30px auto;
    border-top: solid 8px #f76150;
}

.toDoList>* {
    padding: 10px 20px;
}

.toDoList p {
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 10px;
    margin: 25px 20px 20px 16px;
    text-align: center;
    font-size: 30px;
}

.toDoList h1 {
    margin: 12px;
    background: #fff;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;

}


.toDoList input {

    border-radius: 4px;
    border-color: rgb(206, 230, 230) solid;
}

.list {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    font-weight: 600;
    text-transform: capitalize;
}


/*--------Attributes--------*/

[placeholder] {
    text-align: center;
}
